<header>
    <div class="container">
        <article class="row">
            <div class="col-sm-12 content_header">
                <h1>Get out and run!</h1>
            </div>
        </article>
    </div>
</header>

<section class="bloc1">
    <article class="container">
        <div class="row">

            <div class="col-sm-12">
                <h2>Session</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid architecto est facilis officia vitae. Ab consequuntur corporis cumque, eius illum ipsam magni obcaecati odit recusandae repellat saepe sit voluptate voluptates!</p>
            </div>

        </div>
    </article>

    <article class="container">
        <div class="row">

            <div class="col-sm-12">
                <h2>Des courses partout en France</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto blanditiis distinctio eum, fugiat ipsam molestiae odio officia perspiciatis reiciendis repudiandae, sunt tempora temporibus. Ab, aperiam enim explicabo illo laboriosam saepe.</p>
            </div>

        </div>
    </article>
</section>
